{% extends "home/base_home.html" %} 
{% load static %} 
{% block panel-content %}

<div class="ex1">
    <div class="row column text-center">
        <H2>Software y soluciones de ingenieria</H2>
    </div>
    
    <p>

        Los equipos de desarrollo de productos y software de hoy en día tienen la tarea de crear soluciones que sean de alta calidad, que cumplan con los estándares regulatorios de seguridad, tengan precios competitivos y que se distribuyan rápidamente.
    
        La solución es adoptar un enfoque pragmático para gestionar el desarrollo, desde los requisitos y el modelado hasta el desarrollo, las pruebas del producto y el lanzamiento. Para maximizar la efectividad, todos los stakeholders necesitan una visión end-to-end sobre el ciclo de vida completo del producto.
    </p>

    <div class="row column text-center">
        <h2>Ventajas</h2>
        <hr>
      </div>
    <div class="grid-container">
        <div class="grid-x grid-margin-x small-up-2 medium-up-3">
          <div class="cell">
            <div class="card">
              <img src="{% static 'img/laptop.jpeg' %}">
              <div class="card-section">
              <h4>Gestione la complejidad del producto.</h4>
                <p>La adopción de una solución completa que abarque todo el ciclo de vida del desarrollo de productos y software facilita la coordinación de varios flujos de trabajo y tanto la colaboración como la comunicación entre todos los stakeholders, incluidos los proveedores.</p>
              </div>
            </div>
          </div>
          <div class="cell">
            <div class="card">
                <img src="{% static 'img/laptop.jpeg' %}">
              <div class="card-section">
                <h4>Mejore la productividad del equipo.</h4>
                <p>Mantener conectados a los distintos equipos, mejorar la colaboración en tiempo real, automatizar las tareas repetitivas y mejorar la rastreabilidad en todo el ciclo de vida del desarrollo ayuda a aumentar la productividad del equipo de desarrollo.</p>
              </div>
            </div>
          </div>
          <div class="cell">
            <div class="card">
              <img src="{% static 'img/laptop.jpeg' %}">
              <div class="card-section">
                <h4>Minimice el riesgo, maximice la ventaja.</h4>
                <p>La visibilidad proporcionada a través de un enfoque end-to-end ofrece transparencia y rastreabilidad desde los requisitos hasta las pruebas. Las pruebas continuas, la mejora de la gestión de cambios y menos corecciones del trabajo reducen el riesgo y mejoran la calidad.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-x grid-margin-x small-up-2 medium-up-3">
        <div class="cell">
          <div class="card">
            <img src="{% static 'img/Software Delivery Illustration.png' %}">
            <div class="card-section">
              <h4>Reducción del costo.</h4>
              <p>La adopción de un enfoque más ágil para gestionar el desarrollo de productos y software mejora la productividad de sus equipos de ingeniería, reduce las costosas correcciones en etapas finales del ciclo y aumenta la calidad general del producto.</p>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <img src="{% static 'img/Software Delivery Illustration.png' %}">
            <div class="card-section">
              <h4>Conformidad y documentación.</h4>
              <p>Utilice una única fuente de datos y procesos de ingeniería, junto a la rastreabilidad, para proporcionar una base sólida con el fin de validar la conformidad y documentar el estado del desarrollo.</p>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <img src="{% static 'img/Software Delivery Illustration.png' %}">
            <div class="card-section">
              <h4>Elaboración de informes y analítica.</h4>
              <p>Generar informes para comprender el origen de los problemas, comunicar el estado del proyecto y definir las posibles áreas de mejora de los procesos ayuda a reducir los costos, mejorar la calidad y garantizar la entrega puntual de los productos.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>



{% endblock panel-content %}