{% extends "base.html" %} 

{% load static %}

{% block content %}
<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="example-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>
  

<div data-sticky-container>
  <div class="top-bar" id="example-menu" data-sticky data-stick-to="top" data-sticky-on="medium" data-margin-top="0" style="width:100%;">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li> <a href="{% url 'home_app:publico' %}"> <img src="{% static 'img/sip 21 logo.png' %}"  width="40"></li></a>
        
        
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a href="#">Servicios</a>
          <ul class="menu vertical">
            <li><a href="{% url 'home_app:telefinia-ip' %}">Telefonìa IP</a></li>
            <li><a href="{% url 'home_app:infraestructura-telecomunicaciones' %}">Infraestructura de telecomunicaciones </a></li>
            <li><a href="{% url 'home_app:seguridad-redes' %}">Seguridad de redes</a></li>
            <li><a href="{% url 'home_app:cctv' %}">CCTV-Seguridad electronica </a></li>
            <li><a href="{% url 'home_app:obras-civiles' %}">Obras civiles </a></li>
          </ul>
        </li>
        <li><a href="{% url 'home_app:publico' %}">Inicio</a></li>
        <li><a href="{% url 'home_app:nosotros' %}">Nosotros</a></li>
        <li><a href="{% url 'home_app:contacto' %}">Contacto</a></li>
        
      </ul>
    </div>
  </div>
</div>




  {% block panel-content %}
  {% endblock panel-content %}
  <footer class="marketing-site-footer">      
    <article class="grid-container">
      <ul class="no-bullet">
        <div class="grid-x grid-margin-x">
          <div class="cell medium-5 large-4">
            <span class="label secondary">Contacto  </span> 
              <li class="letra"><a href=""><i class="fi-home"></i> Bogotá D.C.</a></li>
              <li class="letra"><a href=""><i class="fi-address-book"></i>Calle 30A # 6-22 of. 302</a></li>  
              <li class="letra"><a href=""><i class="fi-telephone"></i> Tel: +57 3115099789</a></li>
              <li class="letra"><a href=""><i class="fi-mail"></i>jbuitrago@sip21sas.com</a></li>                                    
          </div>
          
        <div class="cell medium-4 large-4">
          <span class="label secondary">Centro de ayuda   </span>
            <li class="letra"><a href="">Contacto</a></li>
            <li class="letra"><a href="{% static 'img/Documento/POLITICA DE PRIVACIDAD SIP21SAS.pdf' %}">Política de protección de datos</a></li>                          
        </div>
        <div class="cell medium-4 large-1">
          <span class="label secondary">Siguenos  </span>
          <br><br>
          <div class="rounded-social-buttons" style="right:50px ;">
          <a class="social-button facebook" href="https://www.facebook.com/106719727710094/posts/382290570153007/"></a>
        </div>
      </ul>
    </article>
    
      <div class="marketing-site-footer-bottom">
        <article class="grid-container">
          <div class="grid-x grid-margin-x">
            <div class="cell small-6" style="font-size:85%;"><a> &copy; 2022 Sip21.&nbsp;&nbsp; </a>  </div>
              <div class="cell small-2"></div>
                <div class="cell auto">
                  
    
                </div> 
              </div>
            </div>
        </article>
      </div>
  </footer>

  <!-- <div class="three-column-footer-contact-form-container">
    <footer class="three-column-footer-contact-form" data-equalizer data-equalize-by-row="true">
      
      <div class="grid-x ">
        <div class="cell small-4 "><span class="label secondary"> Contacto </span>
          <ul >
            <li class="no-bullet">+57 3115099789</li>
            <li>Calle 30A # 6-22 of. 302</li>
            <li>Colombia</li>
            <li>jbuitrago@sip21sas.com</li>
          </ul>
        </div>
        <div class="cell small-4"><span class="label secondary"> Soporte Al Cliente </span>
        <li>Contáctenos</li>
        <li>Política de protección de datos</li>
        </div>
        <div class="cell small-4"><span class="label secondary">Áreas de Trabajo </span>
          <ul class="no-bullet">
            <li>Telefonia Ip</li>
            <li>Infraestructurade telecomunicaciones</li>
            <li>Seguridad de redes</li>
            <li>CCTV</li>
            <li>Obras civiles</li>
          </ul>
        </div>
      </div>
          
            <!-- <h6>Contacto</h6>
            <p><i class="fa fa-phone fa-lg" aria-hidden="true"></i> +57 3115099789</p>
            <p><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Calle 30A # 6-22 of. 302</a></p>
            <p><i class="fi-telephone-accessible" aria-hidden="true"></i>Colombia</p> -->
          
        
       
      <!-- </div>
    </footer>
  </div>
  
  <div class="grid-x grid-margin-x" style="background-color:rgb(60, 75, 109) ;">
    <div class="cell small-4 large-offset-2">Copyright 2022</div>
      <div class="cell small-4">
        <div class="rounded-social-buttons">
          <a class="social-button facebook" href="https://www.facebook.com/106719727710094/posts/382290570153007/" ></a>
         
        </div>
      </div>
  </div>
 
</div> --> 

  

{% endblock content %}